{% extends "_base.html" %}
{% load static %}
{% load humanize %}
{% block header %}U-goグラント応募採択課題 詳細{% endblock header %}
{% block admin_changelist %}{% url 'admin:grant_project_changelist' %}{% endblock admin_changelist %}

{% block contents %}
<div class="row">
    <div class="col-md-12">
        <div class="card my-3">
            <div class="card-header">
                <h3 class="card-title h5">基本情報</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-md-3">年度</dt>
                            <dd class="col-md-9">{{ object.nendo }}</dd>
                            <dt class="col-md-3">新規継続区分</dt>
                            <dd class="col-md-9">{{ object.get_kubun_display }}</dd>
                            <dt class="col-md-3">課題名</dt>
                            <dd class="col-md-9">{{ object.kadaimei }}</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-md-3">採否</dt>
                            <dd class="col-md-9">{{ object.get_saihi_display }}</dd>
                            <dt class="col-md-3">希望研究費金額</dt>
                            <dd class="col-md-9">{{ object.kiboukenkyuuhi }}</dd>
                            <dt class="col-md-3">配分金額</dt>
                            <dd class="col-md-9">{{ object.haibunkingaku }}</dd>
                            <dt class="col-md-3">備考</dt>
                            <dd class="col-md-9">{{ object.bikou }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h4 class="h6">参画している研究者</h4>
        {% if member_list %}
        <div class="alert alert-primary my-3">
            検索結果：<span class="h3">{{ member_count | intcomma }}</span> 件
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>役割</th>
                        <th>研究者番号</th>
                        <th>氏名</th>
                        <th>所属</th>
                        <th>職名</th>
                        <th>年齢</th>
                        <th>性別</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in member_list %}
                    <tr>
                        <td>{{ member.get_role_display }}</td>
                        <td>
                            <a href="{% url 'erad:detail' member.eradcode %}">{{ member.eradcode }}
                            </a>
                        </td>
                        <td>{{ member.shimei }}</td>
                        <td>{{ member.shozoku }}</td>
                        <td>{{ member.shokumei }}</td>
                        <td>{{ member.nenrei }}</td>
                        <td>{{ member.get_seibetsu_display }}</td>
                        <td>
                            <a class="btn btn-outline-info btn-sm"
                                href="{% url 'admin:grant_member_change' member.pk %}">
                                編集
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="my-5">見つかりませんでした。</p>
        {% endif %}
    </div>
</div>



{% endblock contents %}