{% extends "base/_base.html" %}
{% load static %}
{{ form.media }}
{% load crispy_forms_tags %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-1">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'base:front' %}">
        <i class="fas fa-home"></i>
        Home
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'promotion:list' %}">
        <i class="fas fa-money-check-alt"></i>
        学内経費等支援制度
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">応募者情報編集</li>
  </ol>
</nav>
<h1 class="my-4 h5">出席者情報 編集</h1>
<table class="table table-striped table-sm">
  <thead class="thead-light">
  </thead>
  <tbody>
    <tr>
      <td>施策名</td>
      <td>{{ promotion.title }}</td>
    </tr>
    <tr>
      <td>年度</td>
      <td>{{ promotion.fiscalyear }}</td>
    </tr>
  </tbody>
</table>

<hr class="my-4">

{{ form.certifications.errors }}
<form method="post" id="myform" class="my-4">
  {% csrf_token %}
  <div class="form-group">
    {{ form.promotion.as_hidden }}
    {{ form.researcher | as_crispy_field }}
    {{ form.name | as_crispy_field }}
    {{ form.affiliation | as_crispy_field }}
    {{ form.judgement | as_crispy_field }}
    <button type="submit" class="btn btn-primary" form="myform">
      <i class="fas fa-check-circle"></i>
      保存
    </button>
  </div>
</form>


{% endblock content %}