{% extends "_base.html" %}
{% load static %}
{% load humanize %}
{% block header %}キーワード詳細{% endblock header %}

{% block contents %}
<div class="row">
    <div class="col-md-12">
        <h3>{{ object.keyword }}</h3>
        <hr>
        <h3 class="h5">関連研究者</h3>
        {% for researcher in researcher_list %}
        <a class="btn btn-outline-secondary btn-sm my-1" href="{% url 'erad:detail' researcher.eradcode %}">
            {{ researcher.fullname }}
            <span class="badge badge-pill badge-light">{{ researcher.total }}</span>
        </a>
        {% endfor %}
        <hr>
        <h3 class="h5">研究課題</h3>
        <table class="table table-striped table-sm">
            <thead class="thead-light">
                <tr>
                    <th width=10%>氏名</th>
                    <th width=15%>研究種目</th>
                    <th width=15%>役割</th>
                    <th width=10%>研究開始年度</th>
                    <th width=50%>研究課題名</th>
                </tr>
            </thead>
            <tbody>
                {% for work in work_list %}
                <tr>
                    <td><a href="{% url 'erad:detail' work.eradcode %}">{{ work.fullname }}</a></td>
                    <td>{{ work.category_name }}</td>
                    <td>{{ work.role }}</td>
                    <td>{{ work.startfiscalyear }}</td>
                    <td><a href="https://kaken.nii.ac.jp/search/?qb={{ work.awardnumber }}" target="_blank">
                            {{ work.title }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>



{% endblock contents%}