{% extends "base/_base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'base:front' %}">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'kaken:list' %}">
                <i class="far fa-file-alt"></i>
                受託研究申請支援
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">編集</li>
    </ol>
</nav>
<h1 class="my-4 h5">受託研究申請支援 編集</h1>

<form method="post" id="myform">
    {% csrf_token %}
    {{ form.media }}
    <div class="row">
        <div class="col-md-6">
            <h2 class="h6 mt-4">公募情報</h2>
            <h6>入力方法</h6>
            <ol>
                <li>
                    <a href="http://www.ura.niigata-u.ac.jp/index.php/fundsearch"
                        target="_blank">URAホームページの外部資金公募情報</a>にアクセスする
                </li>
                <li>「CSVファイルダウンロード」をクリックしてCSVファイルを開く</li>
                <li>公募ID（A列:No）、公募名（B列:公募名）、配分機関（F列:事業主体）をコピーアンドペーストする</li>
            </ol>
            <p>

            </p>
            {{ form.public_offering | as_crispy_field }}
            {{ form.call_for_application | as_crispy_field }}
            {{ form.funding_agency | as_crispy_field }}
            {{ form.schedule_shomen | as_crispy_field }}
            {{ form.schedule_mensetsu | as_crispy_field }}
        </div>
        <div class="col-md-6">
            <h2 class="h6 mt-4">研究者情報</h2>
            {{ form.name | as_crispy_field }}
            {{ form.affiliation | as_crispy_field  }}
            {{ form.researcher | as_crispy_field }}
            <h2 class="h6 mt-4">支援状況</h2>
            {{ form.fiscalyear | as_crispy_field }}
            {{ form.date_received | as_crispy_field }}
            {{ form.shutantou | as_crispy_field  }}
            {{ form.fukutantou | as_crispy_field }}
            {{ form.date_completed | as_crispy_field }}
            {{ form.judgement | as_crispy_field }}
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <button type="submit" class="btn btn-primary" form="myform">
                <i class="fas fa-check-circle"></i>
                保存
            </button>
        </div>
    </div>
</form>

{% endblock content %}