{% extends "shokuinroku/base_shokuinroku.html" %}

{% block content %}
<table class="table table-sm table-hover">
    <thead class="thead-light">
        <tr>
            <th>基準日</th>
            <th>職員番号</th>
            <th>所属名</th>
            <th>職名</th>
            <th>漢字氏名</th>
            <th>フリガナ</th>
            <th>内線番号</th>
            <th>メールアドレス</th>
        </tr>
    </thead>
    <tbody>
        {% for shokuin in shokuin_list %}
        <tr>
            <td>{{ shokuin.as_of }}</td>
            <td>{{ shokuin.shokuin_id }}</td>
            <td>{{ shokuin.shozokumei }}</td>
            <td>{{ shokuin.shokumei }}</td>
            <td>{{ shokuin.kanjishimei }}</td>
            <td>{{ shokuin.furigana }}</td>
            <td>{{ shokuin.naisenbangou }}</td>
            <td>{{ shokuin.mail_address }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}