{% extends "shokuinroku/base_shokuinroku.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                {% if object_list %}
                <p>
                    検索結果：<span class="h2">{{ paginator.count | intcomma }}</span> 件
                </p>
                <table class="table table-sm table-hover mb-5">
                    <thead class="thead-light">
                        <tr>
                            <th>基準日</th>
                            <th>職員番号</th>
                            <th>所属名</th>
                            <th>職名</th>
                            <th>漢字氏名</th>
                            <th>フリガナ</th>
                            <th>内線番号</th>
                            <th>メールアドレス</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for shokuin in shokuin_list %}
                        <tr>
                            <td>{{ shokuin.as_of }}</td>
                            <td><a href="{% url 'nayose:list' %}?shokuin_id={{ shokuin.shokuin_id }}">{{ shokuin.shokuin_id }}</a></td>
                            <td>{{ shokuin.shozokumei }}</td>
                            <td>{{ shokuin.shokumei }}</td>
                            <td>{{ shokuin.kanjishimei }}</td>
                            <td>{{ shokuin.furigana }}</td>
                            <td>{{ shokuin.naisenbangou }}</td>
                            <td>{{ shokuin.mail_address }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- pagination -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center pagination-lg g-mt-28 g-mb-28">
                        <!-- 前へ の部分 -->
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?q={{ q }}&page={{ page_obj.previous_page_number }}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}

                        <!-- 数字の部分 -->
                        {% for num in page_obj.paginator.page_range %}
                        {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}

                        {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?q={{ q }}&page={{ num }}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        <!-- 次へ の部分 -->
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?q={{ q }}&page={{ page_obj.next_page_number }}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% else %}
                <p class="my-5">見つかりませんでした。</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>




{% endblock %}