{% extends "_base.html" %}
{% load static %}
{% load humanize %}
{% block header %}研究推進施策 詳細{% endblock header %}
{% block admin_changelist %}{% url 'admin:policy_policy_changelist' %}{% endblock admin_changelist %}

{% block contents %}
<div class="row">
    <div class="col-md-12">
        <div class="card my-3">
            <div class="card-header">
                <h3 class="card-title h5">基本情報</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-md-3">施策名</dt>
                            <dd class="col-md-9">{{ object.shisakumei }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h4 class="h6">対象者</h4>
        {% if participant_list %}
        <div class="alert alert-primary my-3">
            検索結果：<span class="h3">{{ participant_count | intcomma }}</span> 件
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="thead-light">
                    <tr>
                        <th width=5%>年度</th>
                        <th width=10%>研究者番号</th>
                        <th width=10%>氏名</th>
                        <th width=30%>所属</th>
                        <th width=40%>備考</th>
                        <th width=5%></th>
                    </tr>
                </thead>
                <tbody>
                    {% for participant in participant_list %}
                    <tr>
                        <td>{{ participant.nendo }}</td>
                        <td>
                            <a href="{% url 'erad:detail' participant.eradcode %}">{{ participant.eradcode }}
                            </a>
                        </td>
                        <td>{{ participant.shimei }}</td>
                        <td>{{ participant.shozoku }}</td>
                        <td>{{ participant.bikou }}</td>
                        <td>
                            <a class="btn btn-outline-info btn-sm"
                                href="{% url 'admin:policy_participant_change' participant.pk %}">
                                編集
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="my-5">見つかりませんでした。</p>
        {% endif %}
    </div>
</div>



{% endblock contents %}