{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'base:front' %}">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <i class="fas fa-file-alt"></i>
            科研費申請支援
        </li>
    </ol>
</nav>
<div class="row align-items-center my-4">
    <div class="col">
        <h1 class="h4">科研費申請支援</h1>
    </div>
    <div class="col text-right">
        <a href="{% url 'kaken:create' %}" role="button" class="btn btn-outline-secondary">
            <i class="fas fa-plus-circle"></i>
            登録
        </a>
    </div>
</div>
<form method="GET" action="" name="filter_form">
    <div class="form-group border rounded p-3">
        <h2 class="h6">絞り込み</h2>
        <div class="row">
            <div class="col-md-4">
                {{ search_form.fiscalyear | as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ search_form.support_type | as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ search_form.tantousha | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ search_form.in_progress | as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
            検索
        </button>
    </div>
</form>
<table class="table table-striped table-borderless table-sm table-hover">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>支援年度</th>
            <th>支援種別</th>
            <th>研究種目</th>
            <th>受付日</th>
            <th>完了日</th>
            <th>研究者氏名</th>
            <th>主担当</th>
            <th>副担当</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for kaken in object_list %}
        <tr>
            <td>{{ kaken.pk }}</td>
            <td>{{ kaken.fiscalyear }}</td>
            <td>{{ kaken.support_type }}</td>
            <td>{{ kaken.category }}</td>
            <td>{{ kaken.date_received | date:"Y-m-d" }}</td>
            <td>{{ kaken.date_completed | date:"Y-m-d" }}</td>
            <td>{{ kaken.name }}</td>
            <td>{{ kaken.shutantou }}</td>
            <td>{{ kaken.fukutantou }}</td>
            <td>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'kaken:detail' kaken.pk %}">
                    <i class="fas fa-angle-double-right"></i>
                    詳細
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}