{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row align-items-center my-2">
    <div class="col">
        <h1 class="h4">申請支援｜科研費</h1>
    </div>
    <div class="col text-right">
        <a href="{% url 'kaken:create' %}" role="button" class="btn btn-outline-secondary">
            <i class="fas fa-plus-circle"></i>
            登録
        </a>
    </div>
</div>
<table class="table table-sm table-hover">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>受付日</th>
            <th>氏名</th>
            <th>所属</th>
            <th>研究種目</th>
            <th>主担当</th>
            <th>副担当</th>
            <th>備考</th>
            <th>審査結果</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for kaken in object_list %}
        <tr>
            <td>{{ kaken.pk }}</td>
            <td>{{ kaken.date_received | date:"Y-m-d" }}</td>
            <td>{{ kaken.name }}</td>
            <td>{{ kaken.shozoku }}</td>
            <td>{{ kaken.category }}</td>
            <td>{{ kaken.shutantou }}</td>
            <td>{{ kaken.fukutantou }}</td>
            <td>{{ kaken.remarks }}</td>
            <td>{{ kaken.judgement }}</td>
            <td>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'kaken:update' kaken.pk %}">
                    <i class="fas fa-pen"></i>
                </a>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'kaken:delete' kaken.pk %}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}