{% extends "base/_base.html" %}
{% load static %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'base:front' %}">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{% url 'kaken:list' %}">
                <i class="fas fa-file-alt"></i>
                科研費申請支援
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">詳細</li>
    </ol>
</nav>
<h1 class="h5">科研費申請支援 詳細</h1>
<div class="row">
    <div class="col-md-6">
        <h2 class="h6 mt-4">受付状況</h2>
        <table class="table table-striped table-sm">
            <thead class="thead-light">
            </thead>
            <tbody>
                <tr>
                    <td>支援番号</td>
                    <td>{{ kaken.pk }}</td>
                </tr>
                <tr>
                    <td>支援年度</td>
                    <td>{{ kaken.fiscalyear }}</td>
                </tr>
                <tr>
                    <td>支援種別</td>
                    <td>{{ kaken.support_type }}</td>
                </tr>
                <tr>
                    <td>研究種目</td>
                    <td>{{ kaken.category }}</td>
                </tr>
                <tr>
                    <td>受付日</td>
                    <td>{{ kaken.date_received | date:"Y-m-d" }}</td>
                </tr>
                <tr>
                    <td>完了日</td>
                    <td>{{ kaken.date_completed | date:"Y-m-d" }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">

        <h2 class="h6 mt-4">
            研究者情報
            {% if kaken.researcher.pk %}
            <a class="btn btn-outline-primary btn-sm ml-4" href="{% url 'researcher:detail' kaken.researcher.pk %}">
                <i class="fas fa-user"></i>
                研究者詳細
            </a>
            {% endif %}
        </h2>
        <table class="table table-striped table-sm">
            <thead class="thead-light">
            </thead>
            <tbody>
                <tr>
                    <td>氏名</td>
                    <td>{{ kaken.name }}</td>
                </tr>
                <tr>
                    <td>所属</td>
                    <td>{{ kaken.affiliation }}</td>
                </tr>
                <tr>
                    <td>研究者番号</td>
                    <td>{{ kaken.researcher.pk | stringformat:"08d" }}</td>
                </tr>
            </tbody>
        </table>
        <h2 class="h6 mt-4">支援状況</h2>
        <table class="table table-striped table-sm">
            <thead class="thead-light">
            </thead>
            <tbody>
                <tr>
                    <td>主担当</td>
                    <td>{{ kaken.shutantou }}</td>
                </tr>
                <tr>
                    <td>副担当</td>
                    <td>{{ kaken.fukutantou }}</td>
                </tr>
                <tr>
                    <td>採否</td>
                    <td>{{ kaken.judgement }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="my-4">
    <a class="btn btn-outline-secondary" href="{% url 'kaken:update' kaken.pk %}">
        <i class="fas fa-pen"></i>
        編集
    </a>
    <a class="btn btn-outline-warning ml-2" href="{% url 'kaken:delete' kaken.pk %}">
        <i class="fas fa-trash"></i>
        削除
    </a>
</div>
{% endblock %}