{% extends "_base.html" %}
{% load static %}
{% load humanize %}

{% block header %}マッチング支援{% endblock header %}
{% block admin_changelist %}{% url 'admin:support_matching_changelist' %}{% endblock admin_changelist %}

{% block contents %}

{% if object_list %}
<div class="alert alert-primary my-3">
    検索結果：<span class="h3">{{ paginator.count | intcomma }}</span> 件
</div>

<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>年度</th>
                <th>受付日</th>
                <th>研究者番号</th>
                <th>氏名</th>
                <th>所属</th>
                <th>主担当</th>
                <th>副担当</th>
                <th>完了日</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.nendo }}</td>
                <td>{{ object.uketsukebi | date:"Y-m-d" }}</td>
                <td><a href="{% url 'erad:detail' object.eradcode %}">{{ object.eradcode }}</a></td>
                <td>{{ object.shimei }}</td>
                <td>{{ object.shozoku }}</td>
                <td>{{ object.shutantou }}</td>
                <td>{{ object.fukutantou }}</td>
                <td>{{ object.kanryoubi | date:"Y-m-d"}}</td>
                <td>
                    <a class="btn btn-outline-info btn-sm"
                        href="{% url 'admin:support_matching_change' object.pk %}">
                        編集
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% else %}
<p class="my-5">見つかりませんでした。</p>
{% endif %}

{% endblock contents %}