{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}研究者検索{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title">検索</h4>
            </div>
            <div class="card-body">
                <form method="GET" action="" name="filter_form">
                    <div class="form-group px-3">
                        {{ search_form.kanjishimei }}
                        <button type="submit" class="btn btn-primary">検索</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <a href="{% url 'nayose:create' %}" role="button" class="btn btn-primary">
            名寄せデータ 新規登録
        </a>
    </div>
</div>


{% endblock %}