{% extends "nayose/base_nayose.html" %}
{% load static %}
{% load humanize %}
{% block page_actions %}詳細{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">基本情報</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-md-3">漢字氏名</dt>
                            <dd class="col-md-9">{{ nayose.kanjishimei_sei }} {{ nayose.kanjishimei_mei }}</dd>
                            <dt class="col-md-3">カナ氏名</dt>
                            <dd class="col-md-9"> {{ nayose.kanashimei_sei }} {{ nayose.kanashimei_mei }}</dd>
                            <dt class="col-md-3">生年月日</dt>
                            <dd class="col-md-9">{{ nayose.date_of_birth | date:"Y-m-d"}}（{{ nayose.age }} 歳）</dd>
                            <dt class="col-md-3">性別</dt>
                            <dd class="col-md-9">{{ nayose.get_sex_display }}</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-md-6">e-Rad研究者番号</dt>
                            <dd class="col-md-6">{{ nayose.erad_id }}</dd>
                            <dt class="col-md-6">常勤職員番号</dt>
                            <dd class="col-md-6">{{ nayose.shokuin_id }}</dd>
                            <dt class="col-md-6">非常勤職員番号</dt>
                            <dd class="col-md-6">{{ nayose.hijoukin_id }}</dd>
                            <dt class="col-md-6">名寄せID</dt>
                            <dd class="col-md-6">{{ nayose.erad_id }}</dd>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">職員録 <span class="badge badge-light">xxxx-xx-xx 現在</span></h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-md-3">漢字氏名</dt>
                            <dd class="col-md-9">（新潟 太郎）</dd>
                            <dt class="col-md-3">カナ氏名</dt>
                            <dd class="col-md-9">（ニイガタ タロウ）</dd>
                            <dt class="col-md-3">所属</dt>
                            <dd class="col-md-9">（自然科学系（理学部））</dd>
                            <dt class="col-md-3">職位</dt>
                            <dd class="col-md-9">（准教授）</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-md-6">メールアドレス</dt>
                            <dd class="col-md-6">（foo@example.com）</dd>
                            <dt class="col-md-6">内線番号</dt>
                            <dd class="col-md-6">（0000）</dd>
                            <dt class="col-md-6">専門分野</dt>
                            <dd class="col-md-6">（植物病理学）</dd>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">e-Rad 研究者情報 <span class="badge badge-light">xxxx-xx-xx 現在</span>
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-md-3">漢字氏名</dt>
                            <dd class="col-md-9">（新潟 太郎）</dd>
                            <dt class="col-md-3">カナ氏名</dt>
                            <dd class="col-md-9">（ニイガタ タロウ）</dd>
                            <dt class="col-md-3">所属</dt>
                            <dd class="col-md-9">（自然科学系）</dd>
                            <dt class="col-md-3">職位</dt>
                            <dd class="col-md-9">（准教授）</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-md-6">メールアドレス</dt>
                            <dd class="col-md-6">（foo@example.com）</dd>
                            <dt class="col-md-6">科研費応募資格</dt>
                            <dd class="col-md-6">（1）</dd>
                            <dt class="col-md-6">主たる研究機関</dt>
                            <dd class="col-md-6">（1）</dd>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="h4">接点管理</h2>
<div class="row">
    <div class="col-md-12">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">申請書作成支援</h3>
            </div>
            <div class="card-body">
                <table class="table table-striped table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>種別</th>
                            <th>年度</th>
                            <th width=50%>概要</th>
                            <th>主担当</th>
                            <th>副担当</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">セミナー・催事参加</h3>
            </div>
            <div class="card-body">
                <table class="table table-striped table-sm">
                    <thead class="thead-light">
                        <tr>
                            <th>日付</th>
                            <th>概要</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">接点管理 その他（研究者マッチング、学内研究推進施策等）</h3>
            </div>
            <div class="card-body">
                <table class="table table-striped table-sm">
                    <thead class="thead-light">
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="h4">属性管理</h2>
<div class="row">
    <div class="col-md-12">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title">科研費（審査委員、採択課題のキーワード等）</h3>
            </div>
            <div class="card-body">
                <table class="table table-striped table-sm">
                    <thead class="thead-light">
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="h5">科研費 応募採択データ</h2>
<table class="table table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th>応募年度</th>
            <th>種目</th>
            <th>採否</th>
            <th>研究課題名</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>準備中</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<hr>
<h2 class="h5">受託研究 応募採択データ(e-Rad)</h2>
<table class="table table-striped table-sm">
    <thead class="thead-dark">
        <tr>
            <th>応募年度</th>
            <th>制度名・配分機関名</th>
            <th>採否</th>
            <th>研究開発課題名</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>準備中</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}