{% extends "nayose/base_nayose.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block page_actions %}検索{% endblock %}

{% block content %}
<form action="" method="get">
    <!-- {{ filter.form|crispy }} -->
    {{ filter.form.nayose_id.label}}
    {{ filter.form.nayose_id }}
    <input type="submit" />
</form>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                {% if filter.qs %}
                <p>
                    検索結果：<span class="h2">{{ paginator.count | intcomma }}</span> 件
                </p>
                <table class="table table-sm table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>名寄せID</th>
                            <th>研究者番号</th>
                            <th>職員番号（常勤）</th>
                            <th>職員番号（非常勤）</th>
                            <th>氏名</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in filter.qs %}
                        <tr>
                            <td>{{ object.pk }}</td>
                            <td>{{ object.erad_id }}</td>
                            <td>{{ object.shokuin_id }}</td>
                            <td>{{ object.hijoukin_id }}</td>
                            <td>{{ object.kanjishimei_sei }} {{ object.kanjishimei_mei }}</td>
                            <td>
                                <a class="btn btn-outline-info btn-sm" href="{% url 'nayose:detail' object.pk %}">
                                    <i class="fas fa-info-circle"></i>
                                    詳細
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="my-5">見つかりませんでした。</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}