{% extends "_base.html" %}
{% load static %}
{% load humanize %}
{% block header %}名寄せデータ{% endblock header %}
{% block admin_changelist %}{% url 'admin:nayose_nayose_changelist' %}{% endblock admin_changelist %}

{% block page_actions %}検索結果{% endblock %}

{% block contents %}

{% if object_list %}
<div class="alert alert-primary my-3">
    検索結果：<span class="h3">{{ paginator.count | intcomma }}</span> 件
</div>
<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead class="thead-light">
            <tr>
                <th width=8%>名寄せID</th>
                <th width=8%>研究者番号</th>
                <th width=8%>職員番号</th>
                <th width=8%>非常勤番号</th>
                <th width=15%>氏名</th>
                <th width=8%>生年月日</th>
                <th width=5%>性別</th>
                <th width=10%>ORCID</th>
                <th width=10%></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.nayose_id }}</td>
                <td>
                    {% if object.eradcode %}
                    <a href="{% url 'erad:detail' object.eradcode %}">{{ object.eradcode }}</a>
                    {% else %}
                    登録なし</a>
                    {% endif %}
                </td>
                <td>{{ object.shokuincode|default:"登録なし" }}</td>
                <td>{{ object.hijoukincode|default:"登録なし" }}</td>
                <td>{{ object.kanjishimei_sei }} {{ object.kanjishimei_mei }}<br>
                    <span class="small text-muted">{{ object.kanashimei_sei }} {{ object.kanashimei_mei }}</span></td>
                <td>{{ object.seinengappi }}</td>
                <td>{{ object.get_seibetsu_display }}</td>
                <td>{{ object.orcid|default:"登録なし" }}</td>
                <td>
                    <a class="btn btn-outline-info btn-sm" href="{% url 'admin:nayose_nayose_change' object.pk %}">
                        編集
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p class="my-5">見つかりませんでした。</p>
{% endif %}

{% endblock %}