{% extends "nayose/base_nayose.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>名寄せID</th>
                                <th>研究者番号</th>
                                <th width=20%>氏名</th>
                                <th width=20%>カナ氏名</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in object_list %}
                            <tr>
                                <td>{{ object.pk }}</td>
                                <td>{{ object.erad_id }}</td>
                                <td>{{ object.kanjishimei_sei }} {{ object.kanjishimei_mei }}</td>
                                <td>{{ object.kanashimei_sei }} {{ object.kanashimei_mei }}</td>
                                <td>
                                    <a class="btn btn-outline-info btn-sm" href="{% url 'nayose:detail' object.pk %}">
                                        <i class="fas fa-info-circle"></i>
                                        詳細
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}