{% extends "base/_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'base:front' %}">
                <i class="fas fa-home"></i>
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <i class="fas fa-book-reader"></i>
            科研費審査委員
        </li>
    </ol>
</nav>

<div class="row align-items-center my-4">
    <div class="col">
        <h1 class="h4">科研費審査委員</h1>
    </div>
    <div class="col text-right">
        <a href="{% url 'reviewer:create' %}" role="button" class="btn btn-outline-secondary">
            <i class="fas fa-plus-circle"></i>
            登録
        </a>
    </div>
</div>
<form method="GET" action="" name="filter_form">
    <div class="form-group border rounded p-3">
        <h2 class="h6">絞り込み</h2>
        <div class="row">
            <div class="col-md-4">
                {{ search_form.fiscalyear | as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ search_form.name | as_crispy_field }}
            </div>
            <div class="col-md-4">
                {{ search_form.committee | as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ search_form.is_awarded | as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
            検索
        </button>
    </div>
</form>
<table class="table table-striped table-borderless table-sm table-hover">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>年度</th>
            <th>委員会</th>
            <th>研究者番号</th>
            <th>氏名</th>
            <th>所属</th>
            <th>表彰</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for reviewer in object_list %}
        <tr>
            <td>{{ reviewer.pk }}</td>
            <td>{{ reviewer.fiscalyear }}</td>
            <td>{{ reviewer.committee }}</td>
            <td>
                {% if reviewer.researcher_id %}
                <a
                    href="{% url 'researcher:detail' reviewer.researcher_id %}">{{ reviewer.researcher_id | stringformat:"08d"}}</a>
                {% endif %}
            </td>
            <td>{{ reviewer.name }}</td>
            <td>{{ reviewer.affiliation }}</td>
            <td>{{ reviewer.is_awarded | yesno:"表彰,"}}</td>
            <td>
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'reviewer:update' reviewer.pk %}">
                    <i class="fas fa-pen"></i>
                    編集
                </a>
                <a class="btn btn-outline-warning btn-sm" href="{% url 'reviewer:delete' reviewer.pk %}">
                    <i class="fas fa-trash"></i>
                    削除
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}