{% extends "_base.html" %}
{% load static %}
{% load humanize %}
{% block header %}イベント詳細{% endblock header %}
{% block admin_changelist %}{% url 'admin:seminar_seminar_changelist' %}{% endblock admin_changelist %}

{% block contents %}
<div class="row">
    <div class="col-md-12">
        <div class="card my-3">
            <div class="card-header">
                <h3 class="card-title h5">基本情報</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-md-3">年度</dt>
                            <dd class="col-md-9">{{ object.nendo }}</dd>
                            <dt class="col-md-3">開催日</dt>
                            <dd class="col-md-9">{{ object.kaisaibi }}</dd>
                            <dt class="col-md-3">イベント名</dt>
                            <dd class="col-md-9">{{ object.title }}</dd>
                            <dt class="col-md-3">会場</dt>
                            <dd class="col-md-9">{{ object.venue }}</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        {% if lecturer_list %}
                        <h4 class="h6">講師</h4>
                        <div class="table-responsive">
                            <table class="table table-sm table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>研究者番号</th>
                                        <th>氏名</th>
                                        <th>所属</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lecturer in lecturer_list %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'erad:detail' lecturer.eradcode %}">{{ lecturer.eradcode }}
                                            </a>
                                        </td>
                                        <td>{{ lecturer.shimei }}</td>
                                        <td>{{ lecturer.shozoku }}</td>
                                        <td>
                                            <a class="btn btn-outline-info btn-sm"
                                                href="{% url 'admin:seminar_lecturer_change' lecturer.pk %}">
                                                編集
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h4 class="h6">出席者</h4>
        {% if attendee_list %}
        <div class="alert alert-primary my-3">
            検索結果：<span class="h3">{{ attendee_count | intcomma }}</span> 件
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>研究者番号</th>
                        <th>氏名</th>
                        <th>所属</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for attendee in attendee_list %}
                    <tr>
                        <td>
                            <a href="{% url 'erad:detail' attendee.eradcode %}">{{ attendee.eradcode }}
                            </a>
                        </td>
                        <td>{{ attendee.shimei }}</td>
                        <td>{{ attendee.shozoku }}</td>
                        <td>
                            <a class="btn btn-outline-info btn-sm"
                                href="{% url 'admin:seminar_attendee_change' attendee.pk %}">
                                編集
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="my-5">見つかりませんでした。</p>
        {% endif %}
    </div>
</div>



{% endblock contents %}